<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blue</key>
			<dict>
				<key>Blue</key>
				<string></string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Laze</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Laze</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blue</key>
			<dict>
				<key>Blue</key>
				<string></string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Laze</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Laze</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>datamall2.mytransport.sg</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>OceanSansStd-Bold.otf</string>
		<string>OceanSansStd-Book.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UITabBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
